<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings </h1>
    <p>
      This is a test invite from momsntots.
      Click here to see the invite details : <%= @url %>.
    </p>
  </body>
</html>