<html>
 

<body>
	
	
<div class="hero-unit">


<%=form_for(:recipe,:url=>{:action=>'destroy',:id =>@recipe.id}) do |f| %>
 
 
	


<table class="table"> 
	<tr>
	 
	<th>
 <h3>Are you sure you  want to delete recipe for "<%=@recipe.title%> "</h3></th>
 
</tr>
</table>

<table class="table">
	<tr><td><div class="btn"><%=submit_tag("Confirm Delete")%></div>  </td>
	<td>
	<div class="btn"><%=link_to("Cancel",:action=>'list')%></div></td>


</div>
<%end%>
</body>
	</html>

