<html>
 

<body>
	
	
<div class="hero-unit">

<% @the_web_page_title = "Edit category: #{@event.name}" %>


<div class="subject edit">
  <h2>Edit Event</h2>
 
  <%= form_for(:event, :url => {:action => 'updateEvents', :id => @event.id}) do |f| %>
  
  <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="btn">
      <%= submit_tag("Update Event") %>    </div>
  
	<%= link_to("Back to Event List", {:action => 'listEvents'},:class=>"btn") %>


    
  <% end %>
</div>

</body>
</html>