<html>

<body>
 	<div class="logged">Hello! <%= session[:username]%> </div>
					<div class="container">	
						<div class="hero-unit">             
	 
						<h3 align="left">{AVATAR}  Welcome,ClubbyKid Member</h3>
     
 	<%=link_to("Show Account Info",:controller=>'member',:action=>'showAccountInfo')%>
	
 	 
 

</div>
</div>

</body>
</html>
 
