<!DOCTYPE html>
 <html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Welcome</title>
 
<body> 
			 
            


<center>
				<h1>About Us</h1>   
			<img src="/assets/tots.jpg" alt="140*140" class="img-rounded"> </center>

		<%@homes.each do |home|%>
 	
<p>   
		<div class="lead">
		<%=simple_format(word_wrap(home.content,:line_width=>440))%> </div>
	<%end%> 
</p>
 			 
			 
 
	
	
	 

</body>
</html>





 
