<html>
 

<body>
 
	
<div class="hero-unit">


<%=form_for(:product,:url=>{:action=>'destroy',:id =>@product.id}) do |f| %>
 
 
	
 

<table class="table"> 
	<tr>
	 <th>
 <h4>Are you sure  u want to delete the Reviews for " 	<%=@product.title%>"  ?</h4>

</th></td>
 
	</tr>
	
		<tr>
			<td >
<%=f.submit "Confirm",class:'btn' %>    
	 <%=link_to("Cancel",{:action=>'list'},:class=>'btn')%></td>
</table>

</div>
<%end%>

</div>
</body>
</html>