
<html>
 

<body>
	
	
<div class="hero-unit">



<h3>Modify</h3>


<%=form_for(:product,:url=>{:action=>'update',:id =>@product.id}) do |f| %>
 
<table class="table">
 
<tr>
<th>Category Title</th>
<td>
		<%=f.text_field(:title)%></td>
		</tr>
		<tr>
		 
			<tr>
			<td> <%=f.submit "Modify",class:'btn' %> 
	  <%=link_to("CANCEL",{:action=>'list'},:class=>'btn')%></td>
	 </tr>
 
	<%end%>
	
	</div>
</body>
</html>
	
	
	
