
<html>
 

<body>
	
	
<div class="hero-unit">
	
<%=form_for(:review,:url=>{:action=>'destroy',:id =>@review.id,:product_id=>@product.id}) do |f| %>
 
 
	
<h3>Do u Want to delete the following record?</h3>

<table class="table"> 
	<tr>
	 
	<th>
 <%=@review.title%><br></th>
 
</tr>


<tr><td> <%=f.submit "Confirm",class:'btn' %>  </td><td>

 <div class="btn"><%=link_to("Cancel",:action=>'list',:product_id=>@product.id)%></div></td>
</table>

</div>
<%end%>

</body>
</html>

