<!DOCTYPE html>
 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Welcome</title>
 
</head>
<body>
 
	<div class="hero-unit">
	  
	 

		<div class="row">
			 	<div class="span2">
			<%=image_tag("/assets/img1.jpg")%>	
					 
					<img src="/assets/img2.jpeg"  class="img-polaroid"/><br>
					<img src="/assets/img3.jpeg"  class="img-polaroid"/><br>
					<img src="/assets/img55.jpeg" class="img-polaroid" /><br>
					<img src="/assets/img5.jpg" class="img-polaroid" />
				</div>
			
			 	<div class="span6">
		            
	
					<%@homes.each do |home|%>
				
		<center> 
					<h1>	<%=home.title%> </h1>   <br>
				
	
						<img src="/assets/tots.jpg" class="img-polaroid"/><center>


<div class="lead">
<p>
<%=simple_format(word_wrap(home.content,:line_width=>260))%> </p> </h2></div>
	<%end%> 
 </div>
	
	
			 <div class="span2">
				<img src="/assets/img6.jpg" class="img-polaroid" /><br>
				<img src="/assets/img7.jpg" class="img-polaroid" /><br>
				<img src="/assets/img8.jpg" class="img-polaroid" /><br>
				<img src="/assets/img10.gif" class="img-polaroid" /><br>
				<img src="/assets/img12.jpg" class="img-polaroid" />
				
				</div>
	</div>
 </div>
	 </div> 
	
	
	 

</body>
</html>