<html>
 

<body>
	<div class="container">
		<div class="row"> 
			<div class="span12">
				<div class="hero-unit">	
				 
							<%= will_paginate @products %>			    
					<h1>  Products Reviews    </h1><br><br>
					
				
						<%@products.each do |product|%> 
 	  
	 
<%=link_to(product.title,{:controller=>'public',:action=>'listReviews',:product_id=>product.id},:class=>'btn') %>    
	  
 
 	<%end%>
 	<%= will_paginate @products %>
	 
	</div>
	</div>
	</div>
	</div>
  </body>
	
</html>
 
