<!DOCTYPE html>
<html>
<head>
	
  
   <link  href="/stylesheets/bootstrap.css" rel="stylesheet"  type="text/css"/>
  <title>Clubby Kids</title>
</head>
<body>
	
	
	
	<div class="mainHead"> Clubby Kids</div>
	
	

  	<div class="container">




<%= yield %>
 </div>
	
 


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="javascripts/bootstrap.js"></script>

</body>
	
</html>